h1 {
	font-family: "Lucida Console", Monaco, monospace;
	color: black;
	text-align: center;
	font-size:5vw;
	margin-left: auto;
	margin-right: auto;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
/* Style the top navigation bar */
.navbar {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
  	overflow: auto; /* Hide overflow */
  	background-color: #FFD700; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  	float: left; /* Make sure that the links stay side-by-side */
  	display: inline-block; /* Change the display to block, for responsive reasons (see below) */
  	color: black; /* White text color */
  	text-align: center; /* Center the text */
  	padding: 14px 20px; /* Add some padding */
  	text-decoration: none; /* Remove underline */

}

/* Change color on hover/mouse-over */
.navbar a:hover {
  	background-color: #ddd; /* Grey background color */
  	color: black; /* Black text color */
}
.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
/*footer*/
.footer {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px; /* Some padding */
	text-align: center; /* Center text*/
	background:#FFD700; /* Black background */
	color: white /* White text color*/
}
/*Social media buttons*/
.social{
	float: none;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}
.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #FFD700;
	color: black;
}.fa-instagram {
	background: #FFD700;
	color: black;
}
